*{
    box-sizing: border-box;
}

.weekly_page {
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.week_contaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.week {
    text-decoration: none;
    margin-bottom: 20px;
}